<div class="header container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="ht1"><a href="{% url 'blog' %}" class="hta">Blog</a></h1>
            <h2 class="ht2"><a href="{% url 'blog' %}" class="hta">Movies books games News</a></h2>
        </div>
        <div class="topMenu col-9">
            <a href="{% url 'blog' %}" class="tm-a">Блог</a>
            <a href="{% url 'new' %}" class="tm-a">Новости</a>
            <a href="{% url 'games' %}" class="tm-a">Обзоры игр</a>
            <a href="{% url 'movies' %}" class="tm-a">Обзоры фильмов</a>
            <a href="{% url 'books' %}" class="tm-a">Обзоры книг</a>
            <a href="{% url 'recs' %}" class="tm-a">Рекомендации</a>
            <a href="{% url 'cont' %}" class="tm-a">Контакты</a>
        </div>
    </div>
    <div class="hd-pd">
        <div class="tm-pd"></div>
    </div>
</div>